 .grid-container {
    display: grid;
    width:100%;
    height:100%;
    grid-template-rows: 5% 90% 5%;
    overflow: hidden;
}
.grid-head{
    display: flex;
    width:100%;
    height:100%;
    grid-template-columns: 40% 60%;
    overflow: hidden;
    background-color:   black;
    
} 
.flex-head-item-1{
    width:100%;
    height:100%;
    background: black ;
    overflow: hidden;
    background-color:   black
    
}
.flex-head-item-2{
    width:100%;
    height:100%;
    background: #ac1529 ;
    overflow: hidden;
    background-color:   #83F52C
}
.grid-parent {
    display: grid;
    grid-template-rows:65% 35%;
    width: 100%;
    height:100%;
    row-gap: 5%;
    padding:2%;
    box-sizing: border-box;
    background-color: white;
}
.grid-item{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    box-decoration-break: clone;

}

.flex-parent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color:#00203FFF ;
    /* justify-content: center; */
    align-items: center;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
}

.grid-child{
    display: grid;
    width:100%;
    height:100%;
    grid-template-rows: 14% 76% 10%;
    /* overflow: hidden; */
    margin-left:1%;
    margin-right: 1%;
    /* max-width: 25%; */
    /* padding-top: 30px;
    padding-bottom: 30px; */
    /* margin-top: 30px; */
    margin-bottom:1%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    box-decoration-break: clone;
}
.terms{

    display: flex;
    width:100%;
    height:100%;
    margin-left:1%;
    margin-right: 1%;
    margin-top: .1%;
    margin-bottom:1%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    box-decoration-break: clone;

}

.grid-renew {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color:#32cd95;
}
.grid-child-header {
    display: flex;
    flex: 0 1 40%;
    /* position: absolute; */
    /* top:0; */
    justify-content:flex-start;
    align-items: center;
    background-color:#32cd95;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    padding-left: 3%;
    /* margin-top:1.5%; */
    /* margin-left:3.5%; */
    font-family:Arial, Helvetica, sans-serif;
    
    /* padding-right: 10px;
    padding-left: 10px; */
}
.grid-child-body {
    display: flex;
    padding-top: 5%;
    /* position: absolute; */
    /* top:10; */
    /* display:flex; */
    /* padding-right: 10px;
    padding-left: 10px; */
    padding-left:3.5%;
    padding-right: 3.5%;
    background-color:#32cd95;
    color: white;
    /* font-weight: bold; */
    font-size: large;
    font-style:italic;

}
.grid-child-footer {
    /* position: absolute; */
    /* top:10; */
    display:flex;
    
    
    background-color:white;
    color: white;
    justify-content: flex-end;
}
.grid-head-item-2{
    display: flex;
    width:100%;
    height:100%;
    background: black ;
    overflow: hidden;
    
}




.fw-20 {
    font-size:30px;
    font-weight: bold;
    color:white;
     /* background: #1f3342; */
     padding-left: 1%;
     padding-bottom: 1%;
     padding-top: 0.5%;
     font-family:Arial, Helvetica, sans-serif;
}
.fw-22 {
    font-size:15px;
    font-weight: bold;
    color:black;
     /* background: #1f3342; */
     padding-left: 1%;
     padding-bottom: 1%;
     padding-top: 1%;
     font-family:Arial, Helvetica, sans-serif;
}
.fw-21 {
    font-size :15px;
    font-weight: lighter;
    color:white;
    padding-left: 50%;
    padding-top: 3px;
     /* background: #1f3342; */
    
}



.flex-label {
    position: absolute;
    top:0; 
    left:0;
    z-index:1;
    background-color:#32cd95;
    color: white;
    /* padding:1%; */
    padding-left: 1%;
    padding-bottom: 0.2%;
    padding-top: 0.2%;
    border:0;
    /* border-radius:10px; */
    border-bottom-right-radius: 20px;
    width: 20%;
    font-family:Arial, Helvetica, sans-serif;
    
}

.flex-item{
    display: flex;
    width:100%;
    height:100%;
    /* border:1px solid black; */
    justify-content: center;
    align-items: center;
    /* padding:10px; */
    box-sizing: border-box;
    /* margin: 10px; */
}
.nav-link-color {
    color:white;
    font: 20px 'Lato sans-serif';
    margin: 0px 20px 0px 0px;
    text-decoration: none;

}