<form class="formClass">
    <label>Password</label>
    <input type="password" id="password">
    <label>Confirm Password</label>
    <input type="password" id="confirm_password">
    <button type="button" style="background:green;color:white;padding:1%;" id="btn">Submit</button>
    <p id="message"></p>
    <p id="success" style="display:none;color:green;font-size:large;">Reset Password Successful. Please click <a style="color:white;" href="/">here to login</a></p>
    </form>
    <style>
        .formClass {
            width:100%;
            height:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color:white;
            background-color: #00203f;
        }
    
        input {
            margin: 1%;
            padding:10px;
    
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        console.log($.ajax);
        let btn = document.querySelector('#btn');
        let password = document.querySelector('#password');
        let confirm_password = document.querySelector('#confirm_password');
        let message_box = document.querySelector('#message');
        btn.addEventListener('click', ()=>{
            if(password.value !== confirm_password.value ) {
                message_box.innerHTML = 'Please make sure password match';
                message_box.style.color = 'red';
            } else {
                $.ajax({
                type: 'POST',
                url: "/api/user/reset",
                beforeSend: (xhr) =>{
                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    let params = new URLSearchParams(window.location.search)
                    xhr.setRequestHeader("token",params.get('token'));
                },
                data: {'password':password.value}, 
                success: (result) =>{
                    let success = document.querySelector('#success');
                    success.style.display = 'block';
                    console.log("Successful");
                }});
            }
        })
    </script>
    
    
    