<style>
    .cover {
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: xxx-large;
        color: #99CCFF;
    }
    .pretext {
        color:black;
        font-size: large;
    }
    .img-cover {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:15%;
    }
</style>
<div class="cover">
    <img class="img-cover" src="/static/X-3.png">
    <div style="padding-bottom:2%;">Launching X-Straddle On 14th November. Stay tuned.</div>
    <div class="pretext">
        Thank you for the subscription.
        The actual subscription day will be counted from 14th November and your pack will expire 30 days after it.
    </div> 
</div>