<style>
.no_token {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    font: 1em sans-serif;
}
</style>
<h1 class="no_token">
    Your Session Expired. Please &nbsp;<a href="/" style="color:rgb(92, 92, 194);text-decoration: none;">Login</a>&nbsp; again
</h1>
