
<div class="grid-container">
<div class="grid-item-1">
    <div class="landing-edge">Enter the edge</div>
    <img class="responsive" width="100%" src="assets/asset/undraw_Login_re_4vu2.svg">
    <!-- <div class="fw-20">Xponential</div> -->
    <!-- <div class="fw-10">Investment Innovated </div> -->
</div>

<div class="grid-item-2">
    <div class="grid-item-2-1">Xponential</div>
    <div style="display:flex;justify-content:center;">
        <img width="50%" src="assets/asset/X-3.png">
    </div>
    <div class="grid-item-2-2">
        <div>
            <a class="link-color" routerLinkActive="active" routerLink="/">Login</a>
            <a class="link-color" routerLinkActive="active" routerLink="/register">Register</a>
            <!-- <div class="controlPanel"> <a class="link-color" routerLinkActive='active' routerLink="/control-panel" >Control Panel</a></div> -->
        </div>
        <router-outlet></router-outlet>
        <!-- <div>

        </div> -->
    </div>
   

    <!-- <div class="flex-item-parent">
        <div class="flex-item-1">
            <div class="flex-item-1-1">
                <div>
                    <a class="link-color" routerLinkActive="active" routerLink="/">Login</a>
                    <a class="link-color" routerLinkActive="active" routerLink="/register">Register</a>
                </div>
                <router-outlet></router-outlet>    
            </div>
        </div>
    </div> -->
    <div>

    </div>
    
</div>

</div>
