<div class="grid-container">
    <h1 style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white;font-size: 50px; position:absolute; top:5%; left: 41%;">COMING LIVE IN </h1>
    <countdown [config]="{leftTime: time_left,format: 'HH:mm:ss'}" style="
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white;font-size: 40px; position:absolute; top:15%; left: 47%; "></countdown>
    <img src="/assets/asset/X-2.jpeg" style="width: 35%; height: 60%; position:absolute; top:30%; left: 35%;">
</div>


